.reviews {
  padding: 8rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media only screen and (max-width: $bp-tablet) {
    padding-top: 3rem;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
  }

  .review {
    flex: 0 0 30%;
    padding: 3rem;
    background-color: $color-primary;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-1.5rem);
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    }

    &-second {
      transform: translateY(2rem);
      &:hover {
        transform: translateY(0.5rem);
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
      }
    }

    &-third {
      transform: translateY(4rem);
      &:hover {
        transform: translateY(2.5rem);
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
      }
    }

    &__user {
      display: flex;
      align-items: center;
    }

    &__img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }

    &__box {
      margin-left: 2rem;
    }

    &__name {
      color: $color-white;
    }

    &__buyer {
      color: $color-pink;
      filter: brightness(80%);
    }

    &__text {
      padding-top: 2.5rem;
      font-size: 1.3rem;
      color: $color-white;
      filter: brightness(80%);
    }
  }
}
