//font
$font-primary: 'Spartan', sans-serif;

//colors
$color-primary: hsl(300, 43%, 22%);
$color-pink: hsl(333, 80%, 67%);
$color-light-pink: hsl(303, 10%, 53%);
$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(300, 24%, 96%);

$bp-screen: 84em;
$bp-tablet: 65em;
$bp-phone: 27em;
